:root {
  --mainColor: #52489c;
  --platinum: #ebebeb;
  --trueBlue: #4062bb;
  --blueGreen: #59c3c3;
  --fieryRose: #f45b69;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: white;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  padding: 0.5rem;
  background-color: var(--mainColor);
}

h1 {
  color: var(--platinum);
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  padding: 0.2em 0.8em;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.inactiveMenu a:hover {
  background-color: var(--trueBlue);
  border-radius: 5px;
  padding: 5px;
  border-bottom: 5px solid;
  transition: 120ms;
  transition-timing-function: ease-out;
}

.activeMenu {
  background-color: var(--trueBlue);
  border-radius: 5px;
  padding: 5px;
  border-bottom: 5px solid white;
}

.wrapper {
  grid-column: 2/5;
  background-color: white;
}

main {
  display: grid;
  grid-template-columns: 5vw 1fr 1fr 1fr 5vw;
}

article {
  margin: 0.5rem 0 0 0;
  padding: 0 1rem 1rem 1rem;
}

#valkommen section {
  display: flex;
}

#valkommen h2 {
  padding: 1rem 1rem 0rem 1rem;
}

#valkommen section p {
  width: 58vw;
  padding: 0rem 1rem 0.5rem 1rem;
}

#valkommenImg {
  width: 20rem;
  margin-right: 1rem;
}

#valkommenImg span {
  margin-left: 5px;
  font-size: 0.7rem;
}

#valkommenImg img {
  width: 100%;
}

.bildgalleri {
  margin: 2em 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.bildgalleri p {
  font-size: 0.7rem;
  padding: 0.4rem;
}

.bildgalleri p a {
  color: black;
}

.bildgalleri p a:hover {
  color: #928080;
}

.bildgalleri img {
  width: 100%;
}

.bilder {
  width: 500px;
}

.bilder span {
  font-size: 0.8rem;
  padding: 20px;
}

#kontaktText {
  display: grid;
  grid-template-columns: 15vw auto;
}

#kontaktText p {
  width: 45vw;
}

#kontaktNav {
  margin-right: 10px;
}

#kontaktNav ul {
  list-style: none;
  text-align: center;
}

#kontaktNav ul li {
  padding: 4px;
  border-bottom: 2px dotted var(--blueGreen);
}

#kontaktNav ul li:first-child {
  border-top: 10px solid var(--blueGreen);
} 

#kontaktNav ul li a {
  color: black;
}

.kontaktH3 {
  margin-top: 1rem;
  grid-column: 2;
}

footer {
  background-color: var(--mainColor);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerP {
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--platinum);
}

.footerItem ul {
  list-style: none;
}

.footerItem ul li a {
  color: var(--platinum);
}

@media only screen and (max-width: 460px) {
  html {
    font-size: 16px;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: none;
  }
  .menu ul {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .menu ul li a {
    padding: 0em 0em;
  }

  .inactiveMenu a:hover {
    padding: 5px;
    border-bottom: 5px solid;
    transition: 120ms;
    transition-timing-function: ease-out;
  }
  
  .activeMenu {
    padding: 5px;
    border-bottom: 5px solid white;
  }

  .wrapper {
    grid-column: 1 / 6;
  }

  #valkommen h2 {
    text-align: center;
  }

  #valkommen section {
    flex-direction: column-reverse;
    margin-top: 10px;
  }

  #valkommen section p {
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }

  #valkommenImg {
    width: 100%;
    margin-right: 0;
  }

  #valkommenImg span {
    text-align: center;
  }

  .bildgalleri {
    flex-direction: column;
  }

  .bilder {
    width: 100%;
  }
  
  #kontaktText {
    display: flex;
    flex-direction: column;
  }

  #kontaktNav ul {
    display: none;
  }

  footer {
    flex-direction: column;
  }
}
