:root {
  --mainColor: #52489c;
  --platinum: #ebebeb;
  --trueBlue: #4062bb;
  --blueGreen: #59c3c3;
  --fieryRose: #be3641;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: white;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--mainColor);
}

h1 {
  color: var(--platinum);
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  padding: 0.2em 0.8em;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.inactiveMenu a:hover {
  background-color: var(--trueBlue);
  border-radius: 5px;
  padding: 0.2em 0.8em;
  border-bottom: 5px solid;
  transition: 120ms;
  transition-timing-function: ease-out;
}

.activeMenu {
  background-color: var(--trueBlue);
  border-radius: 5px;
  border-bottom: 5px solid white;
}

.wrapper {
  grid-column: 2/5;
  background-color: white;
}

main {
  display: grid;
  grid-template-columns: 5vw 1fr 1fr 1fr 5vw;
}

article {
  margin: 0.5rem 0 0 0;
  padding: 0 1rem 1rem 1rem;
}

#valkommen section {
  display: flex;
}

#valkommen h2 {
  padding: 1rem 1rem 0rem 1rem;
}

#valkommen section p {
  width: 58vw;
  padding: 0rem 1rem 0.5rem 1rem;
}

#valkommenImg {
  width: 20rem;
  margin-right: 1rem;
}

#valkommenImg span {
  margin-left: 5px;
  font-size: 0.7rem;
}

#valkommenImg img {
  display: block;
  width: 100%;
}

.bildgalleri {
  margin: 2em 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.bildgalleri p {
  font-size: 0.8rem;
  padding: 0.4rem;
}

.bildgalleri p a {
  color: black;
}

.bildgalleri p a:hover {
  color: #928080;
}

.bildgalleri img {
  width: 100%;
}

.bilder {
  width: 500px;
}

.bilder span {
  font-size: 0.8rem;
  padding: 20px;
}

.textGrid {
  display: grid;
  grid-template-columns: 15vw auto;
}

.textGrid p {
  width: 55vw;
}

.sideNav {
  margin-right: 10px;
}

.sideNav ul {
  list-style: none;
  text-align: center;
}

.sideNav ul li {
  padding: 4px;
  border-bottom: 2px dotted var(--blueGreen);
}

.sideNav ul li:first-child {
  border-top: 10px solid var(--blueGreen);
}

.sideNav ul li a {
  color: black;
}

.bostadH2 {
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px dotted var(--blueGreen);
}

#bostadText {
  justify-content: center;
}

.bostadAnnons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fcf5e9d7;
  box-shadow: 1px 1px 5px 1px black;
  width: 75vw;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 10px;
}

.annonsImg {
  width: 25vw;
  box-shadow: 1px 1px 2px black;
}

.annonsImg img {
  display: block;
  width: 100%;
}

.annonsFakta p {
  padding: 5px 0;
  border-bottom: 2px solid darkgray;
}

.annonsDesc ul {
  list-style: none;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
}

.annonsDesc ul li a {
  color: var(--fieryRose);
}

.kontaktH3 {
  margin-top: 1rem;
  grid-column: 2;
}

#mail ul,
#oppetTider ul {
  list-style: none;
  margin: 10px 0;
}

#postadress p {
  margin-bottom: 2rem;
}

#annonsB {
  display: flex;
  align-items: center;
  border: 2px solid  #d1b786;
  border-radius: 20px;
  background: wheat;
  padding: 1em;
  margin: 2rem auto;
  width: 75vw;
}

#annonsBImg {
  width: 50vw;
  box-shadow: -2px 2px 4px black;
}

#annonsBImg img {
  display: block;
  width: 100%;
}

#annonsB div ul, #annonsB div h3 {
  list-style: none;
  margin-left: 1rem;
}

.annonsText {
  width: 75vw;
  margin: 0 auto;
}

.annonsText ul {
  margin-left: 1.5rem;
}

footer {
  background-color: var(--mainColor);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerP {
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--platinum);
}

.footerItem ul {
  list-style: none;
  padding: 2rem 1rem 1rem 1rem;
}

.footerItem ul li a,
.footerItem ul li {
  color: var(--platinum);
  font-size: 0.9rem;
}

.footerItem ul li:first-child {
  font-size: 1rem;
}

@media only screen and (max-width: 1140px) {
  .wrapper {
    grid-column: 1/6;
  }

  .bostadAnnons {
    max-width: 100vw;
    font-size: 0.8rem;
  }

  .annonsImg {
    width: 25vw;
  }
}

@media only screen and (max-width: 970px) {
  .bostadAnnons {
    flex-direction: column;
    max-width: 60vw;
  }

  .annonsImg {
    width: 50vw;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 18px;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: none;
  }
  .menu ul {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .menu ul li a {
    padding: 0em 0em;
  }

  .inactiveMenu a:hover {
    padding: 5px;
    border-bottom: 5px solid;
    transition: 120ms;
    transition-timing-function: ease-out;
  }

  .activeMenu {
    padding: 5px;
    border-bottom: 5px solid white;
  }

  .wrapper {
    grid-column: 1 / 6;
  }

  #valkommen h2 {
    text-align: center;
  }

  #valkommen section {
    flex-direction: column-reverse;
    margin-top: 10px;
  }

  #valkommen section p {
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }

  #valkommenImg {
    width: 100%;
    margin-right: 0;
  }

  #valkommenImg span {
    text-align: center;
  }

  .bildgalleri {
    flex-direction: column;
  }

  .bilder {
    width: 100%;
    margin: 10px 0;
  }

  .textGrid {
    display: flex;
    flex-direction: column;
  }

  .textGrid p {
    width: 100%;
  }

  .sideNav ul {
    display: none;
  }

  .bostadAnnons {
    max-width: 85vw;
  }

  .bostadAnnons section {
    margin: 15px 0;
  }

  .annonsImg {
    width: 100%;
  }

  footer {
    flex-direction: column;
  }

  .footerItem ul li a,
  .footerItem ul li {
    padding: 13px 0;
  }
}

@media only screen and (max-width: 280px) {
  .bostadAnnons {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1600px) {
  .bostadAnnons {
    width: 65vw;
  }
}
