:root {
  --mainColor: #52489c;
  --platinum: #ebebeb;
  --trueBlue: #4062bb;
  --blueGreen: #59c3c3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  color: var(--blueGreen);
}

html {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--platinum);
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  padding: 0.5rem;
  background-color: var(--blueGreen);
}

h1 {
  color: var(--platinum);
}

.menu {
  position: sticky;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 0.2em 0.8em;
}

.menu ul li a:hover {
  border-bottom: 5px solid;
  transition: 200ms;
  transition-timing-function: ease-out;
}

main {
  display: grid;
  grid-template-columns: 10vw 1fr 1fr 1fr 10vw;
  grid-template-rows: 25% 25% 25% 25%;
}

.slideshow {
  grid-column: 2 / 5;
  grid-row: 1;
  width: 60%;
  margin: auto;
  border: 5px solid black;
}

.slides {
  display: flex;
  width: 100%;
  height: 500px;
}

#valkommen {
  background-color: whitesmoke;
  padding: 1rem 0.5rem;
  grid-row: 2;
  grid-column: 2 / 5;
}

#valkommen section {
  display: flex;
}

#valkommen section p {
  width: 50vw;
}

#valkommenImg {
  width: 16rem;
  margin: 1rem;
}

#valkommenImg img {
  width: 100%;
}

.bildgalleri {
  grid-row: 3;
  grid-column: 2 / 5;
  display: flex;
  width: 100%;
}

.bildgalleri img {
  width: 100%;
}

footer {
  grid-row: 4;
  grid-column: 1 / 6;
  background-color: var(--blueGreen);
  display: flex;
  justify-content: space-evenly;
}

.footerP {
  padding: 0.5rem;
  margin: 0.5rem;
}

.bilder {
  width: 500px;
}

.bilder span {
  font-size: 0.8rem;
  padding: 20px;
}
